<div>
    <!-- <div *ngFor="let edu of education">
        <div class="card">
            <div class="card-header">
                <a class="card-link " data-toggle="collapse" [attr.href]="'#education' + edu.id">
                    <div class="hbox">
                        <p style="width:92%">{{edu.title}}</p>
                        <p>{{edu.dates}}</p>
                    </div>
                </a>
            </div>
            <div [attr.id]="'education' + edu.id" class="collapse show" data-parent="#accordion">
                <div class="card-body">
                    <p>{{edu.description}}</p>
                </div>
            </div>
        </div>
    </div> -->
</div>