<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-2 desktop" data-spy="scroll" data-target="#myScrollspy" data-offset="1">
            <nav class="fixed" id="myScrollspy" style="width: 15%">
                <ul class="nav nav-pills flex-column">
                    <app-navigator></app-navigator>
                </ul>
            </nav>
        </div>
        <div data-spy="scroll" data-target=".navbar" data-offset="50" class="mobile fixed-top" style="width:100%">
            <nav class="navbar navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-4">
                    <app-navigator></app-navigator>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-8">
            <app-sections></app-sections>
        </div>
    </div>
</div> -->
<div class="container">
    <app-navigator></app-navigator>
    <app-sections></app-sections>
</div>