<!-- <div class="vbox">
    <div width="100%">
        <div class="row no-gutters backgroundBlue padding">
            <div class="col-md-4 vbox" width="30%">
                <img [src]="itemImageUrl" class="center" width="60%">
            </div>
            <div class="col-md-8 center" width="70%">
                <h1 width="100%">Ana Mota</h1>
                <hr class="solid">
                <h2>Software Engineer</h2>
                <div class="hbox">

                </div>
            </div>
        </div>
    </div>
    <div class="" width="100%">
        <h1> About me</h1>
        <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
            make a
            type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
            containing
            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
            versions of
            Lorem Ipsum.</h3>
    </div>

</div> -->
<div class="box " style="padding-top: 12vh;">
    <!-- <div width="100%">
        <div class="row"> -->
    <!-- <div class="card col-md-4">
                <img class="card-img-top" [src]="itemImageUrl" alt="Card image">
                <div class="card-body center">
                   
                    <a href="#" class="fa-stack fa-lg">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                    </a>
                    <a href="#" class="fa-stack fa-lg">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-google fa-stack-1x fa-inverse"></i>
                    </a>
                    <a href="#" class="fa-stack fa-lg">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                    </a>
                </div>
            </div> -->
    <div width="100%">
        <div class="typewriter">
            <h1 class="text-center" style="font-size: 14vh; color: #fca903">{{name}}</h1>
        </div>
        <h1 class="text-center" style="margin-top: 2vh; font-size: 3vh; color: #000000">{{title}}</h1>
        <div style="padding-top: 22vh;">

            <h5 class="text-center" style="margin-top: 8vh; font-size: 2vh; color: #FFFFFF; font-style: italic;">
                {{interests}}
            </h5>
            <h5 class="text-center" style="margin-top: 2vh; font-size: 2vh; color: #FFFFFF">{{aboutme}}</h5>
        </div>
    </div>

    <!-- </div>
    </div> -->



</div>