<div style="position:relative">

    <div class="timeline ">

        <div *ngFor="let exp of experience; let index=i; let odd=odd">
            <div class="timecontainer timeleft " [ngClass]="odd ? 'timeleft' : 'timeright'">
                <div class="timecontent angular-with-newlines">
                    <h2 style="font-size:2vh;  color: #fca903">{{exp.dates}}</h2>
                    <h2 style="font-size:2.5vh;  color: #6c757d">{{exp.title}}</h2>
                    <p style="font-size:2vh">{{exp.description}}</p>
                </div>
            </div>
        </div>
    </div>


</div>