<div style="position:relative">
    <!-- <div *ngFor="let exp of experience">
        <div class="card">
            <div class="card-header">
                <a class="card-link " data-toggle="collapse" [attr.href]="'#experience' + exp.id">
                    <div class="hbox">
                        <p style="width:92%">{{exp.title}}</p>
                        <p>{{exp.dates}}</p>
                    </div>
                </a>
            </div>
            <div [attr.id]="'experience' + exp.id" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <p>{{exp.description}}</p>
                </div>
            </div>
        </div>
    </div> -->

    <div class="timeline ">

        <div *ngFor="let exp of experience; let index=i; let odd=odd">
            <div class="timecontainer timeleft " [ngClass]="odd ? 'timeleft' : 'timeright'">
                <div class="timecontent angular-with-newlines">
                    <h2 style="font-size:2vh;  color: #fca903">{{exp.dates}}</h2>
                    <h2 style="font-size:2.5vh;  color: #6c757d">{{exp.title}}</h2>
                    <p style="font-size:2vh">{{exp.description}}</p>
                </div>
            </div>
        </div>
    </div>


</div>