<nav class=" navbar navbar-expand-sm navbar-dark fixed-top navbar-full">

    <button class="d-lg-none navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <!-- Links -->
        <ul class="navbar-nav navbar-center text-uppercase">
            <li class="nav-item">
                <a class="nav-link active" href="#about">About me</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link " href="#education">Education</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link " href="#skills">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#experience">Experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#hobbies">Hobbies</a>
            </li>
        </ul>
    </div>

</nav>