<div id="about" class="v-padding">

    <app-about></app-about>
</div>

<div id="skills" class="v-padding">
    <app-skills></app-skills>
</div>
<!-- <div id="education" class="v-padding">
    <h1>Education</h1>
    <app-education></app-education>
</div> -->
<div id="experience" class="v-padding">
    <!-- <h1>Experience</h1> -->
    <app-experience></app-experience>
</div>

<div id="languages" class="v-padding">
    <app-languages></app-languages>
</div>

<!-- <div id="strengths" class="v-padding">
    <app-strengths></app-strengths>
</div>

<div id="self-taught" class="v-padding">
    <app-self-taught></app-self-taught>
</div> -->

<div id="hobbies" class="v-padding">
    <app-hobbies></app-hobbies>
</div>

<div id="contact" class="v-padding">
    <app-contact></app-contact>
</div>